html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2.5px;
  background-color: whitesmoke;
}

.navbar {
  padding: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: burlywood;
  color: black;
  box-sizing: border-box;
}

.chat-component {
  padding: 5px;
  padding-left: 7px;
  flex: 1;
  margin-top: 10vh;
  margin-bottom: 13.4vh;
  width: calc(100% - 14px);
  overflow-y: auto;
  box-sizing: border-box;
}

.send, .receive {
  border: 1px solid black;
  border-radius: 10px;
  padding: 7px;
  margin-bottom: 7px;
}

.send {
  margin-left: 55%;
}

.receive {
  margin-left: 6px;
  margin-right: 45%;
}

.input-component {
  padding: 7px;
  height: 15%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 10px;
}

label{
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

textarea {
  flex-grow: 1;
  font-size: larger;
  height: 50%;
  resize: none;
  overflow-y: auto;
  padding: 7px;
  border-radius: 7px;
}

.submit {
  font-size: 2rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

button{
  padding-bottom: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
